.trigger-accordion {
    overflow: hidden;
    .trigger {
        margin: 0;
        cursor: pointer;
        font-weight: 600;
    }
    .trigger-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 0;
        opacity: 0;
        z-index: -1;
        transition: .3s ease-in-out;
        &.active {
            transition: .3s ease-in-out;
            opacity: 1;
            z-index: 1;
            max-height: 5000px;
        }
        div > * {
            margin: 0;
            padding: 0;
        }

        & > div {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    #workout_summary {
        overflow: hidden;
        &.active {
            padding: 20px;
        }

        h5 {
            font-size: 18px;
            &:not(&:first-of-type) {
                margin-top: 20px;
            }
        }

        p {
            font-size: 12px;
        }
    }
}