.button {
    padding: 10px;
    width: 100%;
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    transition: .3s ease-in-out;
    &:hover {
        transition: .3s ease-in-out;
        background: #000;
        color: #fff;
    }

    &.deleteButton {
        border-color: red;
        color: red;
        &:hover {
            background: red;
            color: #fff;
        }
    }

    &.addButton {
        border-color: green;
        color: green;
        &:hover {
            background: green;
            color: #fff;
        }
    }

    &.saveButton {
        opacity: 0;
        max-height: 0;
        transition: .3s ease-in-out;
        padding: 0 !important;
        border-color: green;
        color: green;

        &:hover {
            background: green;
            color: #fff;
        }}

        &.active {
            padding: 10px 20px !important;
            opacity: 1;
            max-height: 50px;
            transition: .3s ease-in-out;
            margin-bottom: 20px;
        }
    }

}

.addButton {
    /**/
}

.backButton img {
    position: relative;
    top: 2px;
}

.close {
    cursor: pointer;
    width: calc(100% - 40px);
    img {
        position: absolute;
        right: 20px;
        top: -35px;
    }
}
