.edit-container {
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: .3s ease-in-out;
    background: #FACC15;

    &.active {
        transition: .3s ease-in-out;
        opacity: 1;
        z-index: 10;
    }

    .wrapper {
        padding-top: 50px;

        .inner {
            overflow: auto;
            max-height: 80vh;
        }

        input:not(input[type="submit"], input[type="image"]) {
            width: 100%;
        }
    }
}
