.edit-container {
    opacity: 0;
    padding-top: 50px;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    transition: .3s ease-in-out;

    &.active {
        transition: .3s ease-in-out;
        opacity: 1;
        z-index: 10;
    }

    input:not(input[type="submit"], input[type="image"]) {
        width: 100%;
    }
}
