.singleWorkoutView {
    .startWorkout {
        img {
            width: 25px;
            height: 25px;
            position: relative;
            top: 2px;
        }
    }
}

.exercise {
    .top {
        h3 {
            font-weight: 500;
        }
    }

    .sets {
        overflow-x: auto;

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            background: var(--color-bg);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

            .editButton {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            thead {
                background: var(--color-accent-soft);
                color: var(--color-text-muted);
                font-weight: 500;
                letter-spacing: 1px;

                tr th {
                    color: inherit;
                }
            }

            tbody {
                background: var(--color-bg);
                color: var(--color-text-muted);
                font-weight: 400;
            }

            th,
            td {
                width: 20%;
                border: 1px solid var(--color-text-muted);
                padding: 2px 8px;
                text-align: left;
                white-space: nowrap;
            }

            th:first-child,
            td:first-child {
                border-left: none;
            }

            th:last-child,
            td:last-child {
                border-right: none;
            }

            tr:nth-child(even) {
                background-color: var(--color-accent-soft);
            }

        }
    }
}

