.singleWorkoutView {
    .startWorkout {
        img {
            width: 25px;
            height: 25px;
            position: relative;
            top: 2px;
        }
    }
}

.exercise {
    .top {
        h3 {
            color: #000;
            font-weight: 500;
        }
    }

    .sets {
        overflow-x: auto;

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;

            tbody {
                background: cornflowerblue;
                color: #fff;
                font-weight: 500;
            }

            th,
            td {
                width: 20%;
                border: 1px solid #fff;
                padding: 8px 12px;
            }

            th {
                text-align: left;
                background-color: gold;
            }
        }
    }
}

