html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #1E1E1E;
    font-family: FreeMono;
    font-size: 20px;
    min-height: 100vh;
    background: linear-gradient(180deg, #F8FAFC 0%, #EFF6FF 100%);
    &.no-scroll {
        overflow-y: hidden;
    }
}

.wrapper {
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

input {
    font-size: inherit;
    font-family: inherit;
    outline: none;
    background: transparent;
}

input:not(input[type="submit"], input[type="image"]) {
    width: 100%;
}

input:not(input[type="submit"], input[type="image"]) {
    padding: 5px 0;
    border: none;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.gap-s {
    gap: 10px;
}

.gap-m {
    gap: 20px;
}

.gap-l {
    gap: 30px;
}

.gap-xl {
    gap: 40px;
}

.no-margin {
    margin: 0;
}

.m-0-auto {
    margin: 0 auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 20px;
}

.pt-3 {
    padding-top: 30px;
}

.pt-4 {
    padding-top: 40px;
}

.pb-1 {
    padding-bottom: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.pb-3 {
    padding-bottom: 30px;
}

.pb-4 {
    padding-bottom: 40px;
}

.relative {
    position: relative;
}

.bottom-s {
    bottom: 10px;
}

.bottom-m {
    bottom: 20px;
}

.bottom-l {
    bottom: 30px;
}

.bottom-xl {
    bottom: 40px;
}

.text-center {
    text-align: center;
}

.workout, .exercise .top {
    display: flex;
    gap: 10px;
    align-items: center;

    p {
        margin: 0;
    }
}

.inline-block {
    display: inline-block;
}

.high {
    color: #fff;
    padding: 5px;
    background: #22C55E;
    border-radius: 5px;
}

.medium {
    color: #000;
    padding: 5px;
    background: #FDE047;
    border-radius: 5px;
}

.low {
    color: #fff;
    padding: 5px;
    background: #EF4444;
    border-radius: 5px;
}

.gold {
    color: #FACC15;
    padding: 5px;
    background: #000;
    border-radius: 5px;
}