body {
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
}

.workouts, .exercises {
    display: flex;
    flex-direction: column;
}

.workout, .exercise .top {
    display: flex;
    gap: 10px;
    align-items: center;
    p {
        margin: 0;
    }
}

.addButton {
    margin: 20px 0;
}

.backButton {
    display: inline-block;
    margin-top: 20px;
}

.edit-container {
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    &.active {
        opacity: 1;
        z-index: 10;
    }
}