html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: FreeMono;
    font-size: 20px;
}

main {
    padding-bottom: 20px;
}

.wrapper {
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
    max-width: 700px;
}

input {
    font-size: inherit;
    font-family: inherit;
    outline: none;
    background: transparent;
}

input:not(input[type="submit"], input[type="image"]) {
    width: 100%;
}

input:not(input[type="submit"], input[type="image"]) {
    padding: 5px 0;
    border: none;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-s {
    gap: 10px;
}

.gap-m {
    gap: 20px;
}

.gap-l {
    gap: 30px;
}

.gap-xl {
    gap: 40px;
}

.no-margin {
    margin: 0;
}

.m-0-auto {
    margin: 0 auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 20px;
}

.pt-3 {
    padding-top: 30px;
}

.pt-4 {
    padding-top: 40px;
}

.pb-1 {
    padding-bottom: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.pb-3 {
    padding-bottom: 30px;
}

.pb-4 {
    padding-bottom: 40px;
}

.relative {
    position: relative;
}

.bottom-s {
    bottom: 10px;
}

.bottom-m {
    bottom: 20px;
}

.bottom-l {
    bottom: 30px;
}

.bottom-xl {
    bottom: 40px;
}

.workout, .exercise .top {
    display: flex;
    gap: 10px;
    align-items: center;

    p {
        margin: 0;
    }
}

.inline-block {
    display: inline-block;
}


