html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: FreeMono;
    font-size: 18px;
}

main {
    padding-bottom: 20px;
}

.wrapper {
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
    max-width: 700px;
}

input {
    font-size: inherit;
    font-family: inherit;
}

input:not(input[type="submit"], input[type="image"]) {
    width: 100%;
}

input:not(input[type="submit"], input[type="image"]) {
    padding: 5px 0;
    border: none;
}

.icon {
    width: 20px;
    height: 20px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-s {
    gap: 10px;
}

.gap-m {
    gap: 20px;
}

.gap-l {
    gap: 30px;
}

.gap-xl {
    gap: 40px;
}

.no-margin {
    margin: 0;
}

.relative {
    position: relative;
}

.bottom-s {
    bottom: 10px;
}

.bottom-m {
    bottom: 20px;
}

.bottom-l {
    bottom: 30px;
}

.bottom-xl {
    bottom: 40px;
}

.workout, .exercise .top {
    display: flex;
    gap: 10px;
    align-items: center;

    p {
        margin: 0;
    }
}


