.workoutSessionView {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: .3s ease-in-out;
    &.active {
        opacity: 1;
        z-index: 100;
    }

    input {
        color: #fff;
        &::placeholder {
            color: #fff;
        }
    }

    .button {
        width: calc(100% - 20px);
        text-align: center;
        background: #fff;
        color: #000;
    }

    &.breaktime {
        background: gold;
        color: #000;
        input {
            color: #000;
        }

        .button {
            background: #000;
            color: #fff;
        }
    }

    .wrapper {
        padding-top: 50px;
    }


    .progress {
        transition: .3s ease-in-out;
        &.hide {
            display: none;
        }
    }

    .summary {
        z-index: -1;
        opacity: 0;
        max-height: 0;
        padding: 0;
        margin: 0;
        transition: .3s ease-in-out;
        &.active {
            opacity: 1;
            max-height: 300px;
            z-index: 1;
        }
    }
}