.addWorkout {
    border-bottom: 1px solid #ccc;
}

.workouts {
    .workout {
        &:not(&:last-child) {
            border-bottom: 1px solid #ccc;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}