.workoutSessionView {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: .3s ease-in-out;
    &.active {
        opacity: 1;
        z-index: 100;
    }

    &.breaktime {
        background: yellow;
    }

    .button {
        width: calc(100% - 20px);
        text-align: center;
    }

    .progress {
        transition: .3s ease-in-out;
        &.hide {
            display: none;
        }
    }

    .summary {
        z-index: -1;
        opacity: 0;
        max-height: 0;
        padding: 0;
        margin: 0;
        transition: .3s ease-in-out;
        &.active {
            opacity: 1;
            max-height: 300px;
            z-index: 1;
        }
    }
}